doctype html
html(lang='en', dir='ltr')
  head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    // SweetAlert
    script(src='bower_components/sweetalert/lib/sweet-alert.min.js')
    link(rel='stylesheet', href='bower_components/sweetalert/lib/sweet-alert.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    title Cart
  body
    .contrainer
      nav#myTopnav.topnav
        div
          button.login
              a(href='/cart/' + orders._id)
                  img.cart_pos(src='/img/cart.png')
          button.login
              if user
                  a(href='/users/logout') Logout
                  button.login
                      h9 #{user.username}
              else
                  a(href='/users/login') login
          button.login
              if user
                  a(href='/payment/tracking/' + user._id)#login tracking
        a.icon(href='javascript:void(0);', onclick='myFunction()') ☰
      a(href='/')
        img.logo-pos(src='/img/logo_circle.png')
    .row.pt-5.text-center
      .col
        h1.text-info Shopping cart
        - var totalItems = 0
        each bottle in bottles
          if bottle.orderid == orders._id
            - totalItems += bottle.amount
        p.text-muted= 'You currently have ' + totalItems + ' item(s) in your cart.'
    .container
      .row
        #basket.col-lg-9
          hr
          .box
            .table-responsive
              table.table
                thead
                  tr
                    th Formula
                    th(colspan='2') Component
                    th Quantity
                    th 
                    th Unit price
                    th(colspan='2') Total
                tbody
                  each bottle, i in bottles
                    if bottle.orderid == orders._id
                      tr
                        each formula, i in formulas
                          if formula._id == bottle.formulaid
                            td= formula.formulaname
                            td(colspan='2')= bottle.fruit1 + ', ' + bottle.fruit2 + ', ' + bottle.fruit3
                            if bottle.edit != 0
                              form(method='POST',action='/cart/edit/' + orders._id + '/' + bottle._id)
                                td
                                  textarea(type='text', name='amount',id='edit_amount', cols="5", rows="1",disabled="") #{bottle.amount}
                                td
                                  button.btn-google(type='submit') Edit
                            else
                              form(method='POST',action='/cart/confirm/' + orders._id + '/' + bottle._id)
                                td
                                  #form-group
                                    textarea(type='text', name='amount',id='edit_amount', cols="5", rows="1") #{bottle.amount}
                                td
                                  button.btn-google(type='submit') Submit
                            td ฿75.00
                            td= '฿' + 75*bottle.amount + '.00'
                            td
                              button.fa.fa-trash-o(type='button', data-toggle='modal', data-target='#myModal')
                              #myModal.modal.fade(role='dialog')
                                  .modal-dialog
                                  // Modal content
                                  .modal-content
                                      .modal-header
                                          h4.modal-title Are you sure?
                                          button.close(type='button', data-dismiss='modal') ×
                                      .modal-body
                                          p Are you sure that you want to delete this product?
                                      .modal-footer
                                          form(method='POST',action='/cart/' + orders._id + '/' + bottle._id)
                                              button.btn.btn-outline-primary(type='submit') Sure

            .py-3.px-3.box-footer.d-flex.justify-content-between.flex-column.flex-lg-row.bg-light.border-bottom.border-top
              .left
                a.btn.btn-outline-secondary#yellow(href='/formulas/' + orders.id)
                  i.fa.fa-chevron-left
                  strong Continue shopping
              .right
                a.btn.btn-outline-secondary#yellow(href='/payment/' + orders.id + '/' + ((totalItems*75)+30))
                  strong Checkout 
                  i.fa.fa-chevron-right
        .col-lg-3
          hr
          #order-summary.box.border-top.border-bottom
            .py-4.pb-2.text-center.box-header.bg-light
              h3 Order summary
            .px-3.table-responsive
              table.table
                tbody
                  tr
                    td.text-muted Order subtotal
                    th= '฿' + totalItems*75 + '.00'
                  tr
                    td.text-muted Shipping and handling
                    th ฿30.00
                  tr
                    td.text-muted Tax
                    th ฿0.00
                  tr.total
                    td
                      strong  Total
                    th= '฿' + ((totalItems*75)+30) + '.00'
  script(src='/js/main.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')