extends layout1

block content
    h1.text-center #{formula.formulaname}
    br
    img.bottle(src='/img/bottle.png')

    br
    form(method='POST',action='/custom/' + formula._id + '/component')
        .row
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component1.name}
                        .form-check
                            input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', checked='')
                            label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2')
                            label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3')
                            label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                        .form-check
                            if checksurgery==1 && (component1.fruit4 == 'Tomato' || component1.fruit4 == 'Ripe Mango' || component1.fruit4 == 'Pumpkin' || component1.fruit4 == 'Banana')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else if checkliver==1 && (component1.fruit4 == 'Ripe Mango')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else if checkhypertension==1 && (component1.fruit4 == 'Kale' || component1.fruit4 == 'Carrot' || component1.fruit4 == 'Tomato')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else if checkdiabetes==1 && (component1.fruit4 == 'Mixed berry' || component1.fruit4 == 'Kiwi' || component1.fruit4 == 'Avocado')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else if checkpregnant==1 && (component1.fruit4 == 'Carrot' || component1.fruit4 == 'Kale' || component1.fruit4 == 'Pumpkin' || component1.fruit4 == 'Apricot')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else if checkkidney==1 && (component1.fruit4 == 'Avocado' || component1.fruit4 == 'Kale' || component1.fruit4 == 'Banana' || component1.fruit4 == 'Spinach')
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            else
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                        .form-check
                            if checksurgery==1 && (component1.fruit5 == 'Tomato' || component1.fruit5 == 'Ripe Mango' || component1.fruit5 == 'Pumpkin' || component1.fruit5 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else if checkliver==1 && (component1.fruit5 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else if checkhypertension==1 && (component1.fruit5 == 'Kale' || component1.fruit5 == 'Carrot' || component1.fruit5 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else if checkdiabetes==1 && (component1.fruit5 == 'Mixed berry' || component1.fruit5 == 'Kiwi' || component1.fruit5 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else if checkpregnant==1 && (component1.fruit5 == 'Carrot' || component1.fruit5 == 'Kale' || component1.fruit5 == 'Pumpkin' || component1.fruit5 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else if checkkidney==1 && (component1.fruit5 == 'Avocado' || component1.fruit5 == 'Kale' || component1.fruit5 == 'Banana' || component1.fruit5 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            else
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                        .form-check 
                            if checksurgery==1 && (component1.fruit6 == 'Tomato' || component1.fruit6 == 'Ripe Mango' || component1.fruit6 == 'Pumpkin' || component1.fruit6 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else if checkliver==1 && (component1.fruit6 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else if checkhypertension==1 && (component1.fruit6 == 'Kale' || component1.fruit6 == 'Carrot' || component1.fruit6 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else if checkdiabetes==1 && (component1.fruit6 == 'Mixed berry' || component1.fruit6 == 'Kiwi' || component1.fruit6 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else if checkpregnant==1 && (component1.fruit6 == 'Carrot' || component1.fruit6 == 'Kale' || component1.fruit6 == 'Pumpkin' || component1.fruit6 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else if checkkidney==1 && (component1.fruit6 == 'Avocado' || component1.fruit6 == 'Kale' || component1.fruit6 == 'Banana' || component1.fruit6 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                            else    
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component2.name}
                        .form-check
                            input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', checked='')
                            label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2')
                            label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3')
                            label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                        .form-check
                            if checksurgery==1 && (component2.fruit4 == 'Tomato' || component2.fruit4 == 'Ripe Mango' || component2.fruit4 == 'Pumpkin' || component2.fruit4 == 'Banana')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else if checkliver==1 && (component2.fruit4 == 'Ripe Mango')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else if checkhypertension==1 && (component2.fruit4 == 'Kale' || component2.fruit4 == 'Carrot' || component2.fruit4 == 'Tomato')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else if checkdiabetes==1 && (component2.fruit4 == 'Mixed berry' || component2.fruit4 == 'Kiwi' || component2.fruit4 == 'Avocado')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else if checkpregnant==1 && (component2.fruit4 == 'Carrot' || component2.fruit4 == 'Kale' || component2.fruit4 == 'Pumpkin' || component2.fruit4 == 'Apricot')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else if checkkidney==1 && (component2.fruit4 == 'Avocado' || component2.fruit4 == 'Kale' || component2.fruit4 == 'Banana' || component2.fruit4 == 'Spinach')
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            else
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                        .form-check
                            if checksurgery==1 && (component2.fruit5 == 'Tomato' || component2.fruit5 == 'Ripe Mango' || component2.fruit5 == 'Pumpkin' || component2.fruit5 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else if checkliver==1 && (component2.fruit5 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else if checkhypertension==1 && (component2.fruit5 == 'Kale' || component2.fruit5 == 'Carrot' || component2.fruit5 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else if checkdiabetes==1 && (component2.fruit5 == 'Mixed berry' || component2.fruit5 == 'Kiwi' || component2.fruit5 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else if checkpregnant==1 && (component2.fruit5 == 'Carrot' || component2.fruit5 == 'Kale' || component2.fruit5 == 'Pumpkin' || component2.fruit5 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else if checkkidney==1 && (component2.fruit5 == 'Avocado' || component2.fruit5 == 'Kale' || component2.fruit5 == 'Banana' || component2.fruit5 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            else
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                        .form-check
                            if checksurgery==1 && (component2.fruit6 == 'Tomato' || component2.fruit6 == 'Ripe Mango' || component2.fruit6 == 'Pumpkin' || component2.fruit6 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else if checkliver==1 && (component2.fruit6 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else if checkhypertension==1 && (component2.fruit6 == 'Kale' || component2.fruit6 == 'Carrot' || component2.fruit6 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else if checkdiabetes==1 && (component2.fruit6 == 'Mixed berry' || component2.fruit6 == 'Kiwi' || component2.fruit6 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else if checkpregnant==1 && (component2.fruit6 == 'Carrot' || component2.fruit6 == 'Kale' || component2.fruit6 == 'Pumpkin' || component2.fruit6 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else if checkkidney==1 && (component2.fruit6 == 'Avocado' || component2.fruit6 == 'Kale' || component2.fruit6 == 'Banana' || component2.fruit6 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                            else
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component3.name}
                        .form-check
                            input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', checked='')
                            label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2')
                            label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                        .form-check
                            input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3')
                            label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                        .form-check
                            if checksurgery==1 && (component3.fruit4 == 'Tomato' || component3.fruit4 == 'Ripe Mango' || component3.fruit4 == 'Pumpkin' || component3.fruit4 == 'Banana')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else if checkliver==1 && (component3.fruit4 == 'Ripe Mango')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else if checkhypertension==1 && (component3.fruit4 == 'Kale' || component3.fruit4 == 'Carrot' || component3.fruit4 == 'Tomato')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else if checkdiabetes==1 && (component3.fruit4 == 'Mixed berry' || component3.fruit4 == 'Kiwi' || component3.fruit4 == 'Avocado')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else if checkpregnant==1 && (component3.fruit4 == 'Carrot' || component3.fruit4 == 'Kale' || component3.fruit4 == 'Pumpkin' || component3.fruit4 == 'Apricot')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else if checkkidney==1 && (component3.fruit4 == 'Avocado' || component3.fruit4 == 'Kale' || component3.fruit4 == 'Banana' || component3.fruit4 == 'Spinach')
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4',disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            else
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                        .form-check
                            if checksurgery==1 && (component3.fruit5 == 'Tomato' || component3.fruit5 == 'Ripe Mango' || component3.fruit5 == 'Pumpkin' || component3.fruit5 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            else if checkliver==1 && (component3.fruit5 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            else if checkhypertension==1 && (component3.fruit5 == 'Kale' || component3.fruit5 == 'Carrot' || component3.fruit5 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            else if checkdiabetes==1 && (component3.fruit5 == 'Mixed berry' || component3.fruit5 == 'Kiwi' || component3.fruit5 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}    
                            else if checkpregnant==1 && (component3.fruit5 == 'Carrot' || component3.fruit5 == 'Kale' || component3.fruit5 == 'Pumpkin' || component3.fruit5 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}   
                            else if checkkidney==1 && (component3.fruit5 == 'Avocado' || component3.fruit5 == 'Kale' || component3.fruit5 == 'Banana' || component3.fruit5 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}   
                            else
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                        .form-check
                            if checksurgery==1 && (component3.fruit6 == 'Tomato' || component3.fruit6 == 'Ripe Mango' || component3.fruit6 == 'Pumpkin' || component3.fruit6 == 'Banana')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else if checkliver==1 && (component3.fruit6 == 'Ripe Mango')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else if checkhypertension==1 && (component3.fruit6 == 'Kale' || component3.fruit6 == 'Carrot' || component3.fruit6 == 'Tomato')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else if checkdiabetes==1 && (component3.fruit6 == 'Mixed berry' || component3.fruit6 == 'Kiwi' || component3.fruit6 == 'Avocado')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else if checkpregnant==1 && (component3.fruit6 == 'Carrot' || component3.fruit6 == 'Kale' || component3.fruit6 == 'Pumpkin' || component3.fruit6 == 'Apricot')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else if checkkidney==1 && (component3.fruit6 == 'Avocado' || component3.fruit6 == 'Kale' || component3.fruit6 == 'Banana' || component3.fruit6 == 'Spinach')
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6',disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                            else
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
        .col-sm-3.col-md-7.col-lg-2.mx-auto
            .input-group
                input.form-control(type='number', placeholder='amount', name='amont', required='')
            br
            button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='submit',value='Submit') Submit			