extends layout1

block content
	link(rel='stylesheet', type='text/css', href='/css/formulastyle.css')
	div(style="position:absolute;z-index:2;width:80%;top:20%;left:50%;transform: translate(-50%, -50%);")
		!= messages('message',locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}
	#carouselExampleControls.carousel.slide(data-ride='carousel')
		.carousel-inner
			.carousel-item.active
				each formula, i in formulas
					if(formula.formulaname == "Detox")
						if !user
							img.d-block.w-100(src='/img/rcm_green.png', alt='Detox')
							form(method='POST',action='/users/pleaselogin')
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
						else
							a(href="/recommend/" + orders._id + "/" + formula._id)
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
							img.d-block.w-100(src='/img/rcm_green.png', alt='Detox')
			.carousel-item
				each formula, i in formulas
					if(formula.formulaname == "Cholesterol Reducing")
						if !user
							form(method='POST',action='/users/pleaselogin')
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
							img.d-block.w-100(src='/img/rcm_yellow.png', alt='')
								
						else
							a(href="/recommend/" + orders._id + "/" + formula._id)
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
							img.d-block.w-100(src='/img/rcm_yellow.png', alt='')
								
			.carousel-item
				each formula, i in formulas
					if(formula.formulaname == "Anti Aging")
						if !user
							form(method='POST',action='/users/pleaselogin')
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
							img.d-block.w-100(src='/img/rcm_red.png', alt='')
								
						else
							a(href="/recommend/" + orders._id + "/" + formula._id)
								button#button_rec.viewf(type='submit',value='Submit') ORDER NOW
							img.d-block.w-100(src='/img/rcm_red.png', alt='')
								
		a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.sr-only Previous
		a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.sr-only Next
	.no-respon
		.row.contain(style="")
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Detox")
										if !user
											form(method='POST',action='/users/pleaselogin')
												button#formula-size.formula(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text FIBER - FOLATE - VITAMIN B
					.item.f_bg(style="background-image:url('/img/detox.jpg');")
							
							
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Fat Burn")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text FIBER - VITAMIN B - L-CARNITINE
					.item.f_bg(style="background-image:url('/img/fatburn.jpg');")
						
							
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Improve Eyesight")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text BETA CAROTENE - VITAMIN A - VITAMIN E
					.item.f_bg(style="background-image:url('/img/eyes.jpg');")
				
						
		.row.contain
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Anti Aging")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text COLLAGEN - VITAMIN C - VITAMIN E
					.item.f_bg(style="background-image:url('/img/antiage.jpg');")
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Sugar Reducing")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text FIBER - VITAMIN C - VITAMIN E
					.item.f_bg(style="background-image:url('/img/sugar.jpg');")
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Cholesterol Reducing")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text FIBER - ANTIOXIDANT - VITAMIN E
					.item.f_bg(style="background-image:url('/img/cores.jpg');")
				
		.row.contain
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Pregnancy Care")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text CALCIUM - FOLATE - FE
					.item.f_bg(style="background-image:url('/img/custom_bg.jpg');")
										
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1.text-uppercase
							each formula, i in formulas
								if(formula.formulaname == "Healthy Blood")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text VITAMIN K - FOLATE - FE
					.item.f_bg(style="background-image:url('/img/blood.jpg');")
				
									
			.col-4
				.back_menu
					.item-alltext.f_bg
						h1#formula-size.text-uppercase OTHERS
							each formula, i in formulas
								if(formula.formulaname == "Anti Agin")
									li
										if !user
											form(method='POST',action='/users/pleaselogin')
												button.formula#formula-size(type='submit',value='Submit')= formula.formulaname
										else
											a#formula-size(href="/custom/" + orders._id + "/" + formula._id)= formula.formulaname
						.overlay
							.text CHOOSE BY YOUR SELF
					.item.f_bg(style="background-image:url('/img/9.jpg');")
		br
		