extends layout_nocart2

block content
	link(rel='stylesheet', type='text/css', href='/css/formulastyle.css')
	link(rel='stylesheet', type='text/css', href='/css/formula2.css')
    
	div(style="position:absolute;z-index:2;width:80%;top:20%;left:50%;transform: translate(-50%, -50%);")
		!= messages('message',locals)
		if errors
			each error, i in errors
				div(class="alert alert-danger") #{error.msg}
	#carouselExampleControls.carousel.slide(data-ride='carousel')
		.carousel-inner
			.carousel-item.active
				each formula, i in formulas
					if(formula.formulaname == "Detox")
						button#button_rec.viewf(type='button',value='Submit') ORDER NOW
						img.d-block.w-100(src='/img/rcm_green.png', alt='Detox')
			.carousel-item
				each formula, i in formulas
					if(formula.formulaname == "Cholesterol Reducing")
						button#button_rec.viewf(type='button',value='Submit') ORDER NOW
						img.d-block.w-100(src='/img/rcm_yellow.png', alt='Detox')
								
			.carousel-item
				each formula, i in formulas
					if(formula.formulaname == "Anti Aging")
						button#button_rec.viewf(type='button',value='Submit') ORDER NOW
						img.d-block.w-100(src='/img/rcm_red.png', alt='Detox')
			
								
			a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
				span.carousel-control-prev-icon(aria-hidden='true')
				span.sr-only Previous
			a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
				span.carousel-control-next-icon(aria-hidden='true')
				span.sr-only Next
	.gird_for
		each formula, i in formulas
			.box
				.menu
					form#delete_pos(method='POST',action='/admin/delete/' + formula._id)
						button#delete(type='submit') DELETE
					button.for#not_user(type='button',value='Submit')= formula.formulaname
					img.bg_img(src=bg[i%8])
				.overlay
					.text 
						each nutrient, i in component
							if nutrient._id == formula.component1
								p.textover #{nutrient.name} -
						each nutrient, j in component
							if nutrient._id == formula.component2
								p.textover #{nutrient.name} -
						each nutrient, k in component
							if nutrient._id == formula.component3
								p.textover #{nutrient.name}
		.box 
			.menu
				a(href='/formula/add')
					h1.for#white CLICK TO ADD
					//img#add(src='/img/add.png')
					
				img.bg_img(src=bg[8])
		