extend layout1

block content
    center
    h1 MIXING TABLE
    table(style='width:100%')
        thead
            tr
                th.text-center ORDER NO.
                th.text-center BOTTLE NO.
                th.text-center INGREDIENT 1
                th.text-center INGREDIENT 2
                th.text-center INGREDIENT 3
                th.text-center AMOUNT
        tbody
            br
            each order, i in orders
                .col
                tr 
                    if order.paymentstatus == 0
                        td(align='center')=order._id
                            each bottle, i in bottles
                                tr
                                td
                                if order._id == bottle.orderid
                                    td(align='center')=bottle._id
                                    td(align='center')=bottle.fruit1
                                    td(align='center')=bottle.fruit2
                                    td(align='center')=bottle.fruit3
                                    td(align='center')=bottle.amount
                                    