extends layout1

block content
    br
    h1.text-center #{formula.formulaname}
    br
    img.bottle(src='/img/bottle.png')

    br
    form(method='POST',action='/recommend/' + formula._id + '/component')
        .row
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component1.name}
                        if(component1.fruit1 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', checked='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                        else if(component1.fruit2 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', checked='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                        else if(component1.fruit3 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value= component1.fruit3, checked='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                        else if(component1.fruit4 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', checked='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                        else if(component1.fruit5 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', checked='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
                        else if(component1.fruit6 == recommend.ingredient1)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component1', value='vit1.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component1.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component1.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component1.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component1', value='vit1.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component1.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component1', value='vit1.6', checked='')
                                label.form-check-label(for='exampleRadios5') #{component1.fruit6}
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component2.name}
                        if(component2.fruit1 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', checked='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                        else if(component2.fruit2 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', checked='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                        else if(component2.fruit3 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value=component2.fruit3, checked='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                        else if(component2.fruit4 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', checked='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                        else if(component2.fruit5 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', checked='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
                        else if(component2.fruit6 == recommend.ingredient2)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component2', value='vit2.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component2.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component2.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component2.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component2', value='vit2.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component2.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component2', value='vit2.6', checked='')
                                label.form-check-label(for='exampleRadios5') #{component2.fruit6}
            .col-sm-9.col-md-7.col-lg-4.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center #{component3.name}
                        if(component3.fruit1 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', checked='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                        else if(component3.fruit2 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', checked='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                        else if(component3.fruit3 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', checked='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                        else if(component3.fruit4 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', checked='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                        else if(component3.fruit5 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', checked='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.6', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
                        else if(component3.fruit6 == recommend.ingredient3)
                            .form-check
                                input#exampleRadios1.form-check-input(type='radio', name='component3', value='vit3.1', disabled='')
                                label.form-check-label(for='exampleRadios1') #{component3.fruit1}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.2', disabled='')
                                label.form-check-label(for='exampleRadios2') #{component3.fruit2}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.3', disabled='')
                                label.form-check-label(for='exampleRadios3') #{component3.fruit3}
                            .form-check
                                input#exampleRadios2.form-check-input(type='radio', name='component3', value='vit3.4', disabled='')
                                label.form-check-label(for='exampleRadios4') #{component3.fruit4}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value='vit3.5', disabled='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit5}
                            .form-check
                                input#exampleRadios3.form-check-input(type='radio', name='component3', value=component3.fruit6, checked='')
                                label.form-check-label(for='exampleRadios5') #{component3.fruit6}
        .col-sm-3.col-md-7.col-lg-2.mx-auto
            .input-group
                input.form-control(type='number', placeholder='amount', name='amount', required='')
            
            
            br
            button.btn.btn-lg.btn-defult.btn-block.text-uppercase(type='submit',value='Submit') Submit			
