extends layout_cus
block content
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    link(rel='stylesheet', type='text/css', href='/css/custom.css')
    .margin-top-set
        .row
            .col-4.set-img
                img.bottle.bottle_pos(src='/img/cus_bottle.png')
            .col-8
                h1.text-center.text-uppercase #{formula.formulaname}
                br
                form(method='POST',action='/recommend/' + orders + "/" + formula._id + '/component')
                    .mt-4
                        .row
                            ul.chec-radio
                                li.pz
                                    label.radio-inline
                                        #type.clab #{component1.name}
                                if(component1.fruit1 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, checked='')
                                            .clab(for='com1') #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, disabled='')
                                            .clab.line2(for='exampleRadios4')#gray #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit6}
                                else if(component1.fruit2 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, checked='')
                                            .clab(for='com2') #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, disabled='')
                                            .clab.line2(for='exampleRadios4')#gray #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit6}
                                else if(component1.fruit3 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, checked='')
                                            .clab(for='com3')  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, disabled='')
                                            .clab.line2(for='exampleRadios4')#gray #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit6}
                                else if(component1.fruit4 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, checked='')
                                            .clab.line2(for='exampleRadios4') #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit6}
                                else if(component1.fruit5 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, disabled='')
                                            .clab(for='com3')  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, disabled='')
                                            .clab.line2(for='exampleRadios4')#gray #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, checked='')
                                            .clab(for='exampleRadios5') #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit6}
                                else if(component1.fruit6 == recommend.ingredient1)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component1', value=component1.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component1.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component1', value=component1.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component1.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component1', value=component1.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component1.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component1', value=component1.fruit4, disabled='')
                                            .clab.line2(for='exampleRadios4')#gray #{component1.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component1.fruit5}
                                    li.pz      
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component1', value=component1.fruit6, checked='')
                                            .clab(for='exampleRadios5') #{component1.fruit6}


                            //---------------------------TYPE2---------------------------------------------------
                            ul.chec-radio
                                li.pz
                                    label.radio-inline
                                        #type.clab #{component2.name}
                                if(component2.fruit1 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, checked='')
                                            .clab(for='com1') #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, disabled='')
                                            .clab(for='exampleRadios4')#gray #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit6}
                                else if(component2.fruit2 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, checked='')
                                            .clab(for='com2') #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, disabled='')
                                            .clab(for='exampleRadios4')#gray #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit6}
                                else if(component2.fruit3 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, checked='')
                                            .clab(for='com3')  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, disabled='')
                                            .clab(for='exampleRadios4')#gray #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit6}
                                else if(component2.fruit4 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, checked='')
                                            .clab(for='exampleRadios4') #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit6}
                                else if(component2.fruit5 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, disabled='')
                                            .clab(for='exampleRadios4')#gray #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, checked='')
                                            .clab(for='exampleRadios5') #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit6}
                                else if(component2.fruit6 == recommend.ingredient2)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component2', value=component2.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component2.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component2', value=component2.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component2.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component2', value=component2.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component2.fruit3}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios4.pro-chx(type='radio', name='component2', value=component2.fruit4, disabled='')
                                            .clab(for='exampleRadios4')#gray #{component2.fruit4}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit5, disabled='')
                                            .clab(for='exampleRadios5')#gray #{component2.fruit5}
                                    li.pz
                                        label.radio-inline
                                            input#exampleRadios3.pro-chx(type='radio', name='component2', value=component2.fruit6, checked='')
                                            .clab(for='exampleRadios5') #{component2.fruit6}


                            //---------------------------TYPE3---------------------------------------------------
                            ul.chec-radio
                                li.pz
                                    label.radio-inline
                                        #type.clab #{component3.name}
                                if(component3.fruit1 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, checked='')
                                            .clab(for='com1') #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, disabled='')
                                                .clab(for='exampleRadios4')#gray #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit6}
                                else if(component3.fruit2 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, checked='')
                                            .clab(for='com2') #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, disabled='')
                                                .clab(for='exampleRadios4')#gray #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit6}
                                else if(component3.fruit3 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, checked='')
                                            .clab(for='com3')  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, disabled='')
                                                .clab(for='exampleRadios4')#gray #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit6}
                                else if(component3.fruit4 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, checked='')
                                                .clab(for='exampleRadios4') #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit6}
                                else if(component3.fruit5 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, disabled='')
                                                .clab(for='exampleRadios4')#gray #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, checked='')
                                                .clab(for='exampleRadios5') #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit6}
                                else if(component3.fruit6 == recommend.ingredient3)
                                    li.pz
                                        label.radio-inline
                                            input#com1.pro-chx(type='radio',name='component3', value=component3.fruit1, disabled='')
                                            .clab(for='com1')#gray #{component3.fruit1}
                                    li.pz
                                        label.radio-inline
                                            input#com2.pro-chx(type='radio', name='component3', value=component3.fruit2, disabled='')
                                            .clab(for='com2')#gray #{component3.fruit2}
                                    li.pz
                                        label.radio-inline
                                            input#com3.pro-chx(type='radio', name='component3', value=component3.fruit3, disabled='')
                                            .clab(for='com3')#gray  #{component3.fruit3}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios4.pro-chx(type='radio', name='component3', value=component3.fruit4, disabled='')
                                                .clab(for='exampleRadios4')#gray #{component3.fruit4}
                                    li.pz
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit5, disabled='')
                                                .clab(for='exampleRadios5')#gray #{component3.fruit5}
                                    li.pz    
                                        label.radio-inline
                                                input#exampleRadios3.pro-chx(type='radio', name='component3', value=component3.fruit6, checked='')
                                                .clab(for='exampleRadios5') #{component3.fruit6}
                        .mt-5
                            .row
                                .col-3
                                .col-2
                                    input.form-control#amout(type='number', placeholder='AMOUNT', name='amont', required='')
                                .col-1
                                .col-5
                                    button.text-uppercase#amout(type='submit',value='Submit') Submit				
